<!DOCTYPE html>
<html class="no-js" {{ site.language_attributes }}>
  <head>
    <meta charset="{{ site.charset }}" />
    <meta name="description" content="{{ site.description }}" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="author" href="{{ site.theme.link }}/humans.txt" />
    <link rel="pingback" href="{{ site.pingback_url }}" />
    <link rel="profile" href="http://gmpg.org/xfn/11" />

    {{ function('wp_head') }}

    {% block head %}

    {% endblock %}
  </head>

  <body class="{{ body_class }}" data-breakpoint>
    {% include '@ui/atoms/Button/Button.twig' with {
      href: '#main',
      label: __('Aller au contenu principal', 'studiometa'),
      attr: {
        class: 'sr-only focus:not-sr-only'
      }
    } only %}

    {# Header #}
    {% block header %}
      {% include 'organisms/header.twig' %}
    {% endblock %}

    {# Content #}
    <main role="main" id="main" class="main">
      {% block content %}
        Sorry, no content
      {% endblock %}
    </main>

    {# Footer #}
    {% block footer %}
      {% include 'organisms/footer.twig' %}
    {% endblock %}
  </body>
</html>
